@import url("https://fonts.googleapis.com/css2?family=Baloo+2&family=Raleway&family=Rubik:ital@1&display=swap");
/* Sass Templates */
/* global classes */
body {
  overflow-x: hidden;
  font-family: 'Baloo', Raleway;
  color: rgb(4, 4, 37);
}
/*Added CSS*/
.dropdown:hover>.dropdown-menu {
  display: block;
}
.dropdown-item:hover>.dropdown-menu {
  display: block;
}
ul li{
  list-style-type:none;
  display: inline;
}

.navbar-nav .nav-link{display:inline-block;}

.ml-auto {display:inline-block!important;}

.dropdown>.dropdown-toggle:active {
  pointer-events: none;
}
/*Added CSS ends here*/

button, button:focus {
  outline: none !important;
  box-shadow: none !important;
}

/* typography classes */
.font-baloo {
  font-family: "Baloo Thambi 2", cursive;
}

.font-rale {
  font-family: "Raleway", cursive;
}

.font-rubik {
  font-family: "Rubik", cursive;
}

.font-size-12 {
  font-size: 12px;
}

.font-size-14 {
  font-size: 14px;
}

.font-size-16 {
  font-size: 16px;
}

.font-size-20 {
  font-size: 20px;
}

.navbar {
  text-transform: uppercase;
  font-weight: 900;
  font-size: .9rem;
  letter-spacing: .1rem;
  background: transparent;
 /* background: rgba(240, 231, 231, 0.6)!important;*/

}

.navbar-light .navbar-nav .nav-link {
  color:black;
  
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link:hover {
    color: rgb(7, 65, 7);
    font-weight: 700;
}

.navbar-brand img {
    height: 50px;
    width: 80px;
}

.nav-link {
    color: rgb(7, 65, 7);
    font: 16px Rubik, cursive;
    padding: 8px;
    text-transform: uppercase;
}

.caption {
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 15%;
  z-index: 0;
  color: white;
  text-transform: uppercase;
}

.caption h1 {
  font-size: 3.8rem;
  font-weight: 700;
  letter-spacing: .3rem;
  text-shadow: .1rem .1rem .8rem black;
  padding-bottom: 1rem;
}

.caption h3 {
  font-size: 2rem;
  text-shadow: .1rem .1rem .5rem black;
  padding-bottom: 1.6rem;
}

.btn-lg {
  border-width: medium;
  border-radius: 0;
  padding: .6rem 1.3rem;
  font-size: 1.1rem;
}

.narrow {
  width: 75%;
  margin: 1.5rem auto;
  padding-top: 2rem;
}
.narrow h1 {
  font-size: 2.4rem;
}
.btn-secondary {
  border-width: medium;
  border-radius: 0;
  text-transform: uppercase;
  font-size: 1.2rem;
  padding: .6rem 1.2rem;
  margin: 1rem;
  color: white;
  background-color: rgb(7, 65, 7);
  border-color: rgb(7, 65, 7);
}
.btn-secondary:hover {
  background-color: rgb(7, 65, 7);
  border-color: rgb(7, 65, 7);
}

.offset:before {
  display: block;
  content: "";
  height: 4rem;
  margin-top: -4rem;
}
.jumbotron {
  margin-bottom: 0;
  padding: 2rem 0 3.5rem;
  border-radius: 0;
}

#about h1 {
  color: rgb(4, 4, 37);
}

#products h3.heading {
  color: white;
}

h3.heading {
  font-size: 1.9rem;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 1.9rem;
  color: rgb(4, 4, 37);
}

h5.card-title {
  color: black;
  font-size: 16px;
  text-align: center;
  font-weight: 700;
}

.heading-underline {
  width: 3rem;
  height: .2rem;
  background-color: rgb(7, 65, 7);
  margin: 0 auto 2rem;
}



.feature svg.svg-inline--fa {
  color: rgb(7, 65, 7);
}
.feature h3 {
  font-size: 1.3rem;
  text-transform: uppercase;
  padding-bottom: .4rem;
}
.feature p {
  font-size: 1.1rem;
}
.fixed {
  background-image: url(image/computer.jpg);
  z-index: -1;
}
.dark {
  background-color: rgb(4, 4, 37);
  color: white;
  padding: 7rem 2rem;
}
.fixed-background h3 {
  margin-bottom: 2rem;
}
.fixed-background p {
  margin-top: 1.5rem;
}

.clients img {
  width: 100%;
  border-radius: 50%;
}
blockquote .svg-inline--fa {
  color: rgb(7, 65, 7);
  margin: 1rem;
}
.clients-hr {
  border-top:0.5rem solid rgb(7, 65, 7);
}
footer {
  background-color: rgb(4, 4, 37);
  color: white;
  padding: 2rem 0 2rem;
  margin-top: 1rem;
}

footer a {
  color: white;
}
footer svg.svg-inline--fa {
  font-size: 1.6rem;
  margin: 1.2rem .5rem 0 0;
}
footer svg.svg-inline--fa:hover {
  color: rgb(7, 65, 7)!important;
}

@media (max-width:767px){
.caption h1 {
  font-size: 2.3rem;
  letter-spacing: .15rem;
  padding-bottom: .5rem;
}
.caption h3 {
  font-size: 1.2rem;
  padding-bottom: 1.2rem;
}
.btn-lg {
  padding: .5rem 1rem;
  font-size: 1rem;
}
.narrow h1 {
  font-size: 1.5rem;
}
.clients img {
  max-width: 50%;
  display: block;
  margin: 0 auto;
}
}

#owl-two img {
  height: 200px;
  width: 200px;
}

#owl-one img {
  height: 600px;
  
}


